In [7]:
import pandas as pd

record1 = pd.Series({'Name': 'Alice',
                     'Class': 'Physics',
                     'Score': 87})
record2 = pd.Series({'Name': 'Jack',
                     'Class': 'Chemistry',
                     'Score': 82})
record3 = pd.Series({'Name': 'Helen',
                     'Class': 'Biology',
                     'Score': 90})

df = pd.DataFrame([record1, record2, record3], index=['school1', 'school2', 'school1'])
df.head()

          Name      Class  Score
school1  Alice    Physics     87
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [9]:
# more functions on above-stated dataframe

school1_data = df.loc['school1']
# type(school1_data)  # type dataframe
school1_data  # prints a dataframe with two rows

pandas.core.frame.DataFrame