In [1]:
# using series with strings; returns type object

import pandas as pd

students = ["John", "Jaani", "Janardan"]
pd.Series(students)

0        John
1       Jaani
2    Janardan
dtype: object

In [2]:
# Using series with numbers; returns different data type (int64)

numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [3]:
# Checking how series behave with None values

students = ["John", "Janni", None]
pd.Series(students)  # returns None as type object

0     John
1    Janni
2     None
dtype: object

In [4]:
# Checking None with number series

number = [1, 2, None]
pd.Series(number)  # None shows as NaN (not-a-number); data type is float64, not int64 cuz NaN is float under-the-hood

0    1.0
1    2.0
2    NaN
dtype: float64

In [5]:
# pandas considers None and NaN differently

import numpy as np

np.nan == None   # returns false

False

In [6]:
# Even comparison of np.nan to itself returns false

np.nan == np.nan   # also returns False

False

In [7]:
# We need special functions for nan comparison

np.isnan(np.nan)  # returns True

True

In [8]:
# Setting up series as store for key-value pairs

scores = {"Alice": "Physics",
          "Jack": "Chemistry",
          "Molly": "English"}

s = pd.Series(scores)  # returns dtype object since values are strings
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [9]:
s.index  # returns keys in a list; type is object again. object data type can be for anything, even complex examples like tuples

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [10]:
# Creating series by passing list of indices explicitly

s = pd.Series(["Physics", "Chemistry", "English"], index=["Alice", "Jack", "Molly"])
s  # returns values in similar fashion to prev. examples

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [11]:
# In case key values are not aligned with series, pandas automatically assigns None or NaN in that case

scores = {"Alice": "Physics", "Jack": "Chemistry", "Molly": "English"}
s = pd.Series(scores, index=["Alice", "Jack", "Sam"])
s # since Sam is not in series indices, it automatically gives it NaN value

Alice      Physics
Jack     Chemistry
Sam            NaN
dtype: object